.zingerStage {
  -webkit-perspective: 1000;
  position: absolute;
  z-index: 2147483647;
  height: 200px;
  width: 336px;
  display: none;
}

.zingerStage:hover {
    cursor: pointer;
}

.zingerFlashcard {
  height: 200px;
  width: 336px;
  left: 40%;
  border: 1px solid rgb(173, 217, 237);
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background-color: transparent;
  font-family: 'RobotoLight';
}

.zingerFlipped, .zingerBack {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.zingerFront, .zingerBack {
  background-color: rgba(229, 246, 254, 0.9);
  color: rgb(94, 153, 189);
  height: 200px;
  width: 336px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
  color: black;
  font-family: 'RobotoLight';
}

p#zingerCardWord {
  color: black;
  margin-top: 20%;
  margin-bottom: 4%;
  font-size: 3em;
  text-align: center;
}

p#zingerCardMeaning {
  color: black;
  margin-top: 7%;
  font-size: 1em;
  text-align: center;
  padding-left: 8px;
  padding-right: 8px;
  width: 310px;
  height: 100px;
  overflow: auto;
}

.zingerRemember p {
  color: black;
  margin-top: 13px;
  margin-bottom: 10px;
}

.zingerBtn {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.zingerBtnPrimary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.zingerBtnPrimary:hover,
.zingerBtnPrimary:focus,
.zingerBtnPrimary:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.zingerBtnDanger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.zingerBtnDanger:hover,
.zingerBtnDanger:focus,
.zingerBtnDanger:active {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.zingerBtnSuccess {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.zingerBtnSuccess:hover,
.zingerBtnSuccess:focus,
.zingerBtnSuccess:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

#zingerExampleTxt {
    padding-left: 8px;
    padding-right: 8px;
}


.zingerScrollTrack {
  margin-top: 20px;
  width: 10px;
  background: rgba(0, 0, 0, 0);
  margin-right: 2px;
  border-radius: 10px;
  -webkit-transition: background 250ms linear;
  transition: background 250ms linear;
}

.zingerScrollHandle {
  width: 5px;
  right: 0;
  background: #999;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  -webkit-transition: width 250ms;
  transition: width 250ms;
}
