.zingerStage {
  -webkit-perspective: 1000;
  position: absolute;
  z-index: 2147483647;
  height: 200px;
  width: 336px;
  display: none;
}

.zingerStage:hover {
    cursor: pointer;
}

.zingerFlashcard {
  height: 200px;
  width: 336px;
  left: 40%;
  border: 1px solid gray;
  box-shadow: 2px 2px 2px #000;
  -webkit-transform-style: preserve-3d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  background-color: transparent;
}

.zingerFlipped, .zingerBack {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.zingerFront, .zingerBack {
  background-color: rgba(255, 255, 168, 0.8);
  height: 200px;
  width: 336px;
  position: absolute;
  text-align: center;
  -webkit-backface-visibility: hidden;
  overflow-y: auto;
  color: black;
}

p#zingerCardWord {
  margin-top: 20%;
  margin-bottom: 5px;
  font-size: 3em;
  text-align: center;
  color: black;
}

p#zingerCardMeaning {
  margin-top: 10%;
  font-size: 1em;
  text-align: center;
  color: black;
  padding-left: 8px;
  padding-right: 8px;
}

.zingerRemember {
  margin-bottom: 5%;
}

.zingerBtn {
  display: inline-block;
  padding: 5px 10px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.zingerBtnPrimary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.zingerBtnPrimary:hover,
.zingerBtnPrimary:focus,
.zingerBtnPrimary:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.zingerBtnDanger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.zingerBtnDanger:hover,
.zingerBtnDanger:focus,
.zingerBtnDanger:active {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.zingerBtnSuccess {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.zingerBtnSuccess:hover,
.zingerBtnSuccess:focus,
.zingerBtnSuccess:active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

#zingerExampleTxt {
    padding-left: 8px;
    padding-right: 8px;
}
